.header {
  border-bottom: 1px solid #e7e9fc;
}
.header > .container {
  display: flex;
}
.nav {
  margin-left: 76px;
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-item {
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.contacts {
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-item {
}
.contacts-link {
  display: block;
  padding: 24px 0;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
