.hero {
  padding: 188px 0;
  background-color: #2e2f42;
  color: #fff;
}
.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
}
.hero-btn {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 4px;
  padding: 16px 32px;
  max-width: 169px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: inherit;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
